@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background:#FFF6E1;
    --text-color:black;
    --img-background:#F4E8CB;
  }
}

body {
  color: rgb(var(--text-color));
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-img{
    background-color: var(--img-background);
  }

  .bg-custom-black{
    background-color: #25292D;
  }
  .bg-custom-light{
    background-color: #F4E8CB;
  }
  
}
